<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/preloader') %>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_widget/scrollTop') %>
    <%- partial('_partial/footer') %>
  </body>
</html>