<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="<%= config.url%>">
      <!-- <img src="<%= config.logo%>" alt="<%= config.title%>"> -->
      <%= config.title%>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <% for (var i in theme.menu){ %>
          <li class="nav-item">
              <% if(theme.menu[i].url) { %>
                <a class="nav-link" href="<%- url_for(theme.menu[i].url) %>"><%= theme.menu[i].label || i%></a>
              <% } else { %>
                <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= theme.menu[i].label || i%></a>
              <% } %>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>